{
    "user": {
        "id": "USER_ID",
        "email": "user@email.domain",
        "firstName": "John",
        "lastName": "Doe",
        "profileId": "",
        "workspace": {
            "values": "redacted"
        },
        "workspaceCount": "redacted",
        "idToken": "redacted",
        "milestones": [ "redacted" ],
        "banner": {},
        "pendingEmailVerification": false,
        "evid": null,
        "intercomIdentityVerificationHash": "redacted"
    }
}